@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}

body, * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100%;
    width: 100%;
    background: url("../assets/padraoteia.svg"), url("../assets/textura.png");
    background-repeat: no-repeat, repeat;
    background-size: cover, 25%;
    background-position: left top;
    background-color: #b42727;
    background-blend-mode: darken, soft-light;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fonte-corpo);
}

#boxdash {
    background-color: white;
    height: 96%;
    width: 65%;
    box-shadow: 5px 6px black;
    border: 2px solid black;
    display: flex;
}

#menu {
    height: 100%;
    width: 20%;
    background-color: #246caf;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
}

#menu a {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 100px;
}

#conteudo {
    width: 82%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#bv {
    width: 100%;
    height: 10%;
    padding: 10px;
}


#grafs {
    width: 100%;
    height: 85%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sessao1 {
    height: 105%;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    box-shadow: 3px 4px black;
}


.itens {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--fonte-titulo);
    margin-top: -150px;
}

.itens a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
}

.itens a:hover {
    color: #b42727;

}

.logout {
    font-size: 1.2rem;
    font-family: var(--fonte-corpo);
    display: flex;
    flex-direction: column;

} 

.logout a {
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
}

.logout a:hover {
    text-decoration: underline;
}

#rankingUser {
    height: 100%;
    width: 80%;
    border: 2px solid black;
    box-shadow: 3px 4px black;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#rankingUser h2 {
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.75rem;
}

#rank {
    margin-top: 10px;
    width: 95%;
    height: 91%;
    border: 2px solid black;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linhaRank {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.lugar {
    border: 2px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.T1 {
    background-color: #f0d50b;
}

.T2 {
    background-color: #c5d5d9;
}

.T3 {
    background-color: #c6660c;
}